@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52 43% 93%;
    --foreground: 194 100% 16%;
    --card: 0 0% 100%;
    --card-foreground: 194 100% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 194 100% 16%;
    --primary: 19 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 40% 92%;
    --secondary-foreground: 194 100% 16%;
    --muted: 52 30% 90%;
    --muted-foreground: 194 20% 38%;
    --accent: 42 45% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 25% 85%;
    --input: 194 25% 85%;
    --ring: 19 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 194 100% 12%;
    --foreground: 52 43% 93%;
    --card: 194 90% 16%;
    --card-foreground: 52 43% 93%;
    --popover: 194 90% 16%;
    --popover-foreground: 52 43% 93%;
    --primary: 19 100% 55%;
    --primary-foreground: 194 100% 12%;
    --secondary: 194 60% 22%;
    --secondary-foreground: 52 43% 93%;
    --muted: 194 60% 20%;
    --muted-foreground: 52 20% 70%;
    --accent: 42 50% 55%;
    --accent-foreground: 194 100% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 50% 24%;
    --input: 194 50% 24%;
    --ring: 19 100% 55%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
